@media (max-width: 360px) {
    .container_login {
        position: absolute;
        left: 50%;
        top: 15%;
        transform: translateX(-50%);

        .join-us {
            color: $rose;
            position: relative;
            font-size: 0.9rem;
            text-align: center;
        }

        h3 {
            font-family: $mont;
            top: 20%;
            align-items: center;
            
        }
            form {
                display: flex;
                flex-direction: column;
                text-align: center;
                justify-content: center;
                align-items: center;

                div{
                    input {
                        width: 80vw;
                        margin-bottom: 0.3rem;
                        }
                    }
                    .button_form {
                        button{
                    margin-top: 1em;
                    background-color: $bleu;
                    color:$white;
                    border-radius: 1.2rem;
                    width: 27vw;
                    height:4vh;
                    border: none;
                    }}

                    input {
                        width: 50vw;
                    }
                }
            }
}