.App-header{
    position: fixed;
    bottom: 0;
    text-emphasis: center;
    width: 100vw;
    a{
        display: flex;
        flex-direction: column;
        text-decoration-line: none;
        color:$noir;
        font-family: 'Kayak';
        text-transform: uppercase;
        text-align: center;
        height:3vh;
        padding:0.5rem;
        justify-content: center;

    }

    #home{
        background-color: $rose;
        color:$white;
    }

    #signin{
        background-color: $white;
        color:$rose;
    }
}


#logo{
    position: absolute;
    width:4rem;
    left:50%;
    top:1rem;
    transform: translateX(-50%);
   
}